
<div *ngIf="game">
    <h2><span jhiTranslate="betChampionApp.game.detail.title">Game</span> {{game.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.info">Match</span></dt>
        <dd>
            <span>{{game.info}}</span>
        </dd>
        <dt><span jhiTranslate="betChampionApp.game.matchTime">Match Time</span></dt>
        <dd>
            <span>{{game.matchTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="betChampionApp.game.goalsTeam1">Goals Team 1</span></dt>
        <dd>
            <span>{{game.goalsTeam1}}</span>
        </dd>
        <dt><span jhiTranslate="betChampionApp.game.goalsTeam2">Goals Team 2</span></dt>
        <dd>
            <span>{{game.goalsTeam2}}</span>
        </dd>
        <dt><span jhiTranslate="betChampionApp.game.team1">Team 1</span></dt>
        <dd>
            <div *ngIf="game.team1">
                <a [routerLink]="['/team', game.team1?.id]">{{game.team1?.teamName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="betChampionApp.game.team2">Team 2</span></dt>
        <dd>
            <div *ngIf="game.team2">
                <a [routerLink]="['/team', game.team2?.id]">{{game.team2?.teamName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'game/'+ game.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
