<div>
    <h2>
        <span jhiTranslate="betChampionApp.bet.home.title">Bets</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userBets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="matchTime"><span jhiTranslate="betChampionApp.game.matchTime">Match Time</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="team1.teamName"><span jhiTranslate="betChampionApp.game.team1">Team 1</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="goalsTeam1"><span jhiTranslate="betChampionApp.game.goalsTeam1">Goals Team 1</span> <span class="fa fa-sort"></span></th>
                <th width="30%"><span>Stats</span></th>
                <th jhiSortBy="goalsTeam2"><span jhiTranslate="betChampionApp.game.goalsTeam2">Goals Team 2</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="team2.teamName"><span jhiTranslate="betChampionApp.game.team2">Team 2</span> <span class="fa fa-sort"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bet of userBets">
                <td>{{bet.matchTime | date:'medium'}}</td>
                <td>{{bet.team1Name}}</td>
                <td>{{bet.goalsTeam1}}</td>
                <td>
                    <inline-editor type="number" [(ngModel)]="bet.betGoalsTeam1" (onSave)="save(game)" name="editableText1" size="8"></inline-editor>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"  [style.width.%]="bet.stats.team1Won" aria-valuemin="0" aria-valuemax="100">{{bet.stats.team1Won==0?'':bet.stats.team1Won+'%'}}</div>
                        <div class="progress-bar bg-success" role="progressbar"  [style.width.%]="bet.stats.draw" aria-valuemin="0" aria-valuemax="100">{{bet.stats.draw==0?'':bet.stats.draw+'%'}}</div>
                        <div class="progress-bar bg-info" role="progressbar"  [style.width.%]="bet.stats.team2Won" aria-valuemin="0" aria-valuemax="100">{{bet.stats.team2Won==0?'':bet.stats.team2Won+'%'}}</div>
                    </div>
                </td>
                <td>
                    <inline-editor type="number" [(ngModel)]="bet.betGoalsTeam2" (onSave)="save(game)" name="editableText1" size="8"></inline-editor>
                </td>
                <td>{{bet.goalsTeam2}}</td>
                <td>{{bet.team2Name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
