
<div *ngIf="betTeam">
    <h2><span jhiTranslate="betChampionApp.betTeam.detail.title">Bet Team</span> {{betTeam.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="betChampionApp.betTeam.betTeamName">Bet Team Name</span></dt>
        <dd>
            <span>{{betTeam.betTeamName}}</span>
        </dd>
        <dt><span jhiTranslate="betChampionApp.betTeam.members">Members</span></dt>
        <dd>
            <span *ngFor="let members of betTeam.members; let last = last">
                {{members.login}}{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bet-team/'+ betTeam.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
