
<div *ngIf="betTeam">
    <h2><span jhiTranslate="betChampionApp.betTeam.detail.title">Bet Team</span> {{betTeam.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="betChampionApp.betTeam.betTeamName">Bet Team Name</span></dt>
        <dd>
            <span>{{betTeam.betTeamName}}</span>
        </dd>
        <input type="text" class="form-control" name="searchString" placeholder="Type to search..." [(ngModel)]="searchString">
        <dt><span jhiTranslate="userManagement.ranking">Rangliste</span></dt>

        <div class="table-responsive">
        <!--<div class="table-responsive" *ngIf="users">-->
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                    <th jhiSortBy="points"><span jhiTranslate="userManagement.rank">Rang</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="points"><span jhiTranslate="userManagement.points">Punkte</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="login"><span jhiTranslate="userManagement.detail.title">Benutzer</span> <span class="fa fa-sort"></span></th>
                </tr>
                </thead>
                <tbody>
                <!--<tbody *ngIf ="members">-->
                <tr *ngFor="let members of betTeam.members | filter : 'login' : searchString;">
                    <td>{{members.rank}}</td>
                    <td>{{members.points}}</td>
                    <td>{{members.login}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bet-team/'+ betTeam.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
