<div class="table-responsive" *ngIf="betTeam">
    <table class="table table-striped">
        <thead>
        <tr jhiSort [(predicate)]="ranking" [(ascending)]="sortorder" [callback]="transition.bind(this)">
            <th jhiSortBy="rank"><span jhiTranslate="userManagement.rank">Rang</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="points"><span jhiTranslate="userManagement.points">Punkte</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="login"><span jhiTranslate="userManagement.detail.title">Benutzer</span> <span class="fa fa-sort"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let member of tempMembers'>
            <td>{{member.rank}}</td>
            <td>{{member.points}}</td>
            <td>{{member.login}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div *ngIf="betTeam">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="betTeam.members.length" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="betTeam.members.length" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
</div>

